[Unit]
Description=Start database
Requires=docker.service
After=docker.service

[Service]
Restart=always

ExecStartPre=-/usr/bin/docker rm -f %n
ExecStart=/usr/bin/docker run \
    --env-file=/etc/sysconfig/%n \
    --rm --name %n docker.io/mysql

ExecStop=-/usr/bin/docker stop %n

[Install]
WantedBy=multi-user.target
